/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&display=swap");

/* CSS Variables */
:root {
    --primary-font: "Inter", sans-serif;
    --secondary-font: "Macondo", cursive;
    --primary-color: #3a2620; /* dark brown */
    --secondary-color: #aa9581; /* light brown */
    --highlight-color: #416a8e; /* blue */
    --light-color: #7a9fc2; /* light blue */
}

/* Global styles */
body {
    font-family: var(--primary-font);
}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}

h1,
h2 {
    text-transform: uppercase;
}

h2 {
    margin-bottom: 2rem;
}

.section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.sub-heading-color {
    color: var(--highlight-color);
}

/* Navbar */
#navbar {
    background-color: var(--primary-color);
}

#navbar .logo {
    width: 30px;
}

/* Header */

#header .lead {
    font-family: var(--secondary-font);
}

/* Services */

#services .card-footer {
    font-weight: bold;
    color: var(--highlight-color);
    background-color: transparent;
}

#services .card {
    margin-bottom: 1.5rem;
}

/* New Games */

#new-games .card {
    margin-bottom: 1.5rem;
}

/* New Games Footer */

#new-games .card-footer {
    background-color: transparent;
}

/* Fav Games */
#fav-games .card {
    margin-bottom: 1.5rem;
}


/*
.container {
    border: 2px solid black;
}

.col-12 {
    border: 2px solid white;
    background-color: lightgray;
} /*

/* Media queries */

/* 768px screen sizes*/
@media screen and (min-width: 768px) {
    /* Make all cards the same height */
    #services .card-body {
        min-height: 191px;
    }
}

/* 992px L screen sizes*/
@media screen and (min-width: 992px) {
    /* Make all cards the same height */
    #services .card-body {
        min-height: auto;
    }
}

/* 1200px XL screen sizes*/
@media screen and (min-width: 1200px) {
    /* Make all cards the same height */
    #services .card-body {
        min-height: 220px;
    }
}

/* 1400px XXL screen sizes*/
@media screen and (min-width: 1400px) {
    /* Make all cards the same height */
    #services .card-body {
        min-height: 195px;
    }
}

/* New Games */

/* 768px XXL screen sizes*/
@media screen and (min-width: 768px) {
    /* Make all cards the same height */
    #new-games .card-body {
        min-height: 220px;
    }
}


/* Fav Games */

/* 768px L screen sizes*/
@media screen and (min-width: 768px) {
    /* Make all cards the same height */
    #fav-games .card-body {
        min-height: 314px;
    }
}

/* 1200px XL screen sizes*/
@media screen and (min-width: 1200px) {
    /* Make all cards the same height */
    #fav-games .card-body {
        min-height: 340px;
    }
}
