/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&display=swap");

/* CSS Variables */
:root {
    --primary-font: "Inter", sans-serif;
    --secondary-font: "Macondo", cursive;
    --primary-color: #3a2620; /* dark brown */
    --secondary-color: #aa9581; /* light brown */
    --highlight-color: #416a8e; /* blue */
    --light-color: #7a9fc2; /* light blue */
}

/* Global styles */
body {
    font-family: var(--primary-font);
}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}

h1,
h2 {
    text-transform: uppercase;
}

h2 {
    margin-bottom: 2rem;
}

.section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.sub-heading-color {
    color: var(--highlight-color);
}

/* Buttons */

.custom-button-filled {
    border-color: var(--highlight-color);
    background-color: var(--highlight-color);
    color: white;
    max-width: 10rem;
}

.custom-button-filled:hover {
    border-color: var(--secondary-color);
    background-color: var(--secondary-color);
    color: white;
}

.custom-button-outline

{
    border-color: var(--highlight-color);
    background-color: white);
    color: var(--highlight-color);
    padding: 7px 25px;
    border-width: 2px;
}

.custom-button-outline:hover {
    color: white;
    background-color: var(--highlight-color);
    
}

/* Navbar */
#navbar {
    background-color: var(--primary-color);
}

#navbar .logo {
    width: 30px;
}

/* Header */

#header .lead {
    font-family: var(--secondary-font);
}

/* Services */

#services .card-footer {
    font-weight: bold;
    color: var(--highlight-color);
    background-color: transparent;
}

#services .card {
    margin-bottom: 1.5rem;
}

/* Events */

#events .table {
    /* events table */
    font-size: 0.7rem;
}

.student-discount {
    background-color: var(--highlight-color);
    font-weight: bold;
    color: white;
    display: block;
    max-width: 300px;
    margin: auto;
    padding: 5px 10px;
    font-size: 0.8rem;
}

/* New Games */

#new-games .card {
    margin-bottom: 1.5rem;
}

/* New Games Footer */

#new-games .card-footer {
    background-color: transparent;
}

/* Fav Games */
#fav-games .card {
    margin-bottom: 1.5rem;
}

/* Footer / Contact */

#contact {
    background-color: var(--primary-color);
    color: white;
    padding-bottom: 3rem;
    padding-top: 1rem;
}

#contact h2 {
    color: white;
}

#contact .sub-heading-color {
    color: var(--light-color)
}

#contact i {
    color: var(--secondary-color);
    font-size: 1.2rem;
    margin-right: 15px;
}

#contact .social-links i {
    color: var(--light-color);
    font-size: 1.9rem;
    transition: color 0.3s ease-in-out;
}

#contact .social-links i:hover {
    color: var(--secondary-color);
}

#contact .table-dark * {
    background: transparent;
}

/*
.container {
    border: 2px solid black;
}

.col-12 {
    border: 2px solid white;
    background-color: lightgray;
} /*

/* Media queries */

/* 768px screen sizes*/
@media screen and (min-width: 768px) {
    /* Make all cards the same height */
    #services .card-body {
        min-height: 191px;
    }
}

/* 992px L screen sizes*/
@media screen and (min-width: 992px) {
    /* Make all cards the same height */
    #services .card-body {
        min-height: auto;
    }
}

/* 1200px XL screen sizes*/
@media screen and (min-width: 1200px) {
    /* Make all cards the same height */
    #services .card-body {
        min-height: 220px;
    }
}

/* 1400px XXL screen sizes*/
@media screen and (min-width: 1400px) {
    /* Make all cards the same height */
    #services .card-body {
        min-height: 195px;
    }
}

/* New Games */

/* 768px XXL screen sizes*/
@media screen and (min-width: 768px) {
    /* Make all cards the same height */
    #new-games .card-body {
        min-height: 220px;
    }
}

/* Fav Games */

/* 768px L screen sizes*/
@media screen and (min-width: 768px) {
    /* Make all cards the same height */
    #fav-games .card-body {
        min-height: 314px;
    }
}

/* 1200px XL screen sizes*/
@media screen and (min-width: 1200px) {
    /* Make all cards the same height */
    #fav-games .card-body {
        min-height: 340px;
    }
}
